version: '3'

services:
  db:
    container_name: sporty_db
    image: mysql:latest
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: finalproject
    networks:
      - mynetwork

  backend:
    restart: always
    build: ./backend
    ports:
      - "3001:3001"
    depends_on:
      - db
    command: sh -c "source ./bin/activate && pip install -r requirements.txt && python manage.py makemigrations && python manage.py migrate && pipenv run python dummies.py && python manage.py runserver 0.0.0.0:3001"
    networks:
      - mynetwork

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    command: npm start
    volumes:
      - ./frontend:/app
    networks:
      - mynetwork

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    depends_on:
      - db
    environment:
      PMA_PORT: 3306
      PMA_HOST: sporty_db
      MYSQL_ROOT_PASSWORD: root
    restart: always
    ports:
      - "3002:80"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
